{% extends "layout.html" %}
{% from "macros/pagination.html" import render_pagination %}

{% block title %}{{ this.title }}{% endblock %}

{% block main %}
    <h1>/{{ this.title }}/Index</h1>

    {% if this.pagination.items.count() == 0  %}
    <article>
        <p>
            <em>Ups! Nothing is written yet.</em><br><br>
            I plan to add RSS feed and a mailing list for updates, make sure to come by again. <br>
            You can also contact me, info is on <a href="{{ '/'|url }}">/Home/</a>.
        </p>
    </article>

    {% else %}

    <ul id="posts">
    {% for child in this.pagination.items %}
    <li>
        <a href="{{ url_to(child) }}"><h2>{{ child.title }}</h2></a>
        published on {{ child.pub_date }}
    </li>
    {% endfor %}
    </ul>

    {% if this.pagination.pages > 1 %}
        {{ render_pagination(this.pagination) }}
    {% endif %}

    {% endif %}
{% endblock %}
